.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
.container{
    max-width: 955px;
    padding: 33px;
    margin: auto;
    height: 60vh;
    overflow-y: auto;
    margin-bottom: 23px;
    background-color: rgb(155, 129, 179) ;
}
.message{
  background-color: grey;
  width: 24%;
  padding: 10px;
  margin: 17px 12px;
  border: 2px solid black;
  border-radius: 10px;
}
.left{
   float: left;
   clear: both;
}
.right{
   float: right;
   clear: both;
}
#send-container{
  display: block;
  margin: auto;
   text-align: center;
   max-width: 985px;
   width: 100%;
}
#messageInp{
  width: 91%;
  border: 2px solid black;
  border-radius: 4px;
  height: 34px;
}
.btn{
  cursor: pointer;
  border: 2px solid black;
  border-radius: 6px;
  height: 34px;
}
body{
  background-image: rgba(255, 255, 255 ),rgb(90, 44, 114);
  height: 100vh;
}